.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s ease;
}

.footer__column-link:hover {
  opacity: .2;
}